body {
	background-color: #BFBFBF;
	height: 100%;
	margin: 0px;
	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BFBFBF), color-stop(100%, #999));
	background-image: -webkit-linear-gradient(top, #BFBFBF 0%, #999 100%);
	background-image: -moz-linear-gradient(top, #BFBFBF 0%, #999 100%);
	background-image: -o-linear-gradient(top, #BFBFBF 0%, #999 100%);
	background-image: -ms-linear-gradient(top, #BFBFBF 0%, #999 100%);
	background-image: linear-gradient(top, #BFBFBF 0%, #999 100%);
}

#slides {
	position: absolute;
	top: 20px;
	left:50%;
	top:50%;
	margin:-325px 0px 0px -325px;
	width: 650px;
	height: 650px;
	overflow: hidden;
}

#slides > div {
	width: 600px;
	height: 600px;
	position: absolute;
	left: 25px;
	top: 25px;
	background-color: #F3F3F3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));

	background-image: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
	background-image: linear-gradient(top, #ffffff 0%, #f3f3f3 100%);

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	-webkit-box-shadow: #1A1A1A 1px 1px 10px;
	-moz-box-shadow: #1A1A1A 1px 1px 10px;
	box-shadow: #1A1A1A 1px 1px 10px;

	-webkit-transition: -webkit-transform .6s;
	-moz-transition: -moz-transform .6s;
	-o-transition: -o-transfrom .6s;
	-ms-transition: -ms-transform .6s;
	transition: transform .6s;

	-webkit-transform: translateX(650px) translateZ(0);
	-moz-transform: translateX(650px) translateZ(0);
	-o-transform: translateX(650px) translateZ(0);
	-ms-transform: translateX(650px) translateZ(0);
	transform: translateX(650px) translateZ(0);
}

#slides > div.current {
	-webkit-transform: translateX(0) translateZ(0);
	-moz-transform: translateX(0) translateZ(0);
	-o-transform: translateX(0) translateZ(0);
	-ms-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

#slides > div.past {
	-webkit-transform: translateX(-650px) translateZ(0);
	-moz-transform: translateX(-650px) translateZ(0);
	-o-transform: translateX(-650px) translateZ(0);
	-ms-transform: translateX(-650px) translateZ(0);
	transform: translateX(-650px) translateZ(0);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	#slides {
		width:750px;
		height:750px;
		margin:-375px 0px 0px -375px;
		
	}
	#slides > div {
		width:700px;
		height:700px;
		-webkit-user-select:none;
		-webkit-box-shadow: none;
		box-shadow:none;

		-webkit-transform: translateX(750px);
	}	
	#slides > div.past {
		-webkit-transform: translateX(-750px);
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape){
	#slides > div {
		-webkit-box-shadow:none;
		box-shadow:none;
	}
}
/* --- Style Adjusments --- */
#slides > div > span {
	display:inline-block;
	margin: 10px 0px 0px 10px;
}

/* --- Helper Classes ---*/
#slides > div > h1.main-title,h2.main-title,h4.main-title,h5.main-title,h6.main-title {
	text-align: center;
	font-family:Helvetica,sans-serif;
	font-size:80px;
	height:600px;
	line-height:600px;
	margin:0px;
	word-wrap:break-word;

	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
